@function getTitleFontSize($title-level) {
    @if $title-level == 1 {
        $level: "xl";
        @return map-get($font-level, $level);
    } @else if $title-level == 2 {
        $level: "lgx";
        @return map-get($font-level, $level);
    } @else {
        $level: "md";
        @return map-get($font-level, $level);
    }
}

@function getLineHteight($title-level) {
    @if getTitleFontSize($title-level) * 1.125 > 1.25rem {
        @return 1.25rem;
    } @else {
        @return getTitleFontSize($title-level) * 1.125;
    }
}
