.chess-board {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 36px;
    width: 36px;
}

.chess-board span {
    box-sizing: border-box;
    flex-basis: 33%;
    flex-grow: 1;
    height: 12px;
    border: 1px solid black;
}

.chess-board span:nth-child(odd) {
    background-color: black;
    align-self: flex-end;
}